body{
    background-color: #0C7489;
}

#header-img{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;

}
#header{
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #119DA4;
}

#header a{
    color: black;
    font-weight: 700;
}

nav ul{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.logo{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 60vw;
}
.Informacion img{
    width: 100%;
    height: 100%;
    max-width: 60px;
}

.Formulario{
    display:block;
    text-align: center;
}

.Formulario button{
    margin-top: 20px;
}

#Informacion-1{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    align-items: center;
}

#Informacion-1 div{
    margin-left: 50px;
    margin-right: 20%;
}

#Informacion-2{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    align-items: center;
}
#Informacion-2 div{
    margin-left: 50px;
    margin-right: 20%;
}

#Informacion-3{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
#Informacion-3 div{
    margin-left: 50px;
    margin-right: 20%;
}

.Video{

    width: fit-content;
    margin: 100px auto;
}

.Cuadros{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Cuadro-1{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #13505B;
}

.Cuadro-2{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #0C7489;
}

.Cuadro-3{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #119DA4;
}
.Cuadros header{
    font-family: 'Lato', sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
    background-color: black;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.Cuadros h1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}

.Cuadros ol{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    margin: 15px 0;
}

.Cuadros li{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    list-style: none;
    padding: 5px 0;}

main{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

footer{
    font-family: 'Lato', sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
    background-color: black;
    color: white;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 50px;
}


footer a {
    margin-left: 10px;
}

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    background: mediumaquamarine;
    margin-bottom: 20px;
}

.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}